/*position*/

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-quater {
    display:flex;
    flex-direction: column;
}

.top-quater-head{
    display:flex;
    justify-content: space-between
}

.top-quater-head-links {
    display:flex;
    flex-direction: row;
}

.link {
    /*place holder*/
    display:flex;
    width: 60px;
    height: 60px;
}

.top-quater-bottom {
    display:flex;
    flex-direction: row;
}

.top-quater-bottom-text {
    display: flex;
    flex-direction: column;
}

.top-quater-bottom-image {
    display: flex;
    justify-content: center;
}

.second-quater {
    display:flex;
    flex-direction: column;
}

.information {
    display:flex;
    background-color: aqua;
    margin: 5px;
}

.product-list {
    display:flex;
}

.product {
    margin: 10px;

}

.quote {
    display:flex;
    background-color: bisque;
}
.box-d1 {
    display:flex;
    background-color: #3882F6;
    display: flex
}

.last-quater-left{
    display:flex;
    background-color: aqua;
    margin: 5px;
}

/*colors and style*/

.dark-background {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-main-size {
    font-size: 48px;
    font-weight: bolder;
}


.hero-secondary {
    size: 18px;
    color: red;
}

.header-logo-size {
    font-size: 24px;
}

.signup {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 4px #F9FAF8;
}

.zero {
    /*place holder highlight*/
    background-color: pink;
    color: red;

}