
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.top-quater {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-quater-head{
    display:flex;
    justify-content: space-between
}

.top-quater-head-links {
    display:flex;
    flex-direction: row;
}

.link {
    /*place holder*/
    display:flex;
    width: 60px;
    height: 60px;
}

.top-quater-bottom {
    display:flex;
    flex-direction: row;
}

.top-quater-bottom-text {
    display: flex;
    flex-direction: column;
}

.hero-main-title {
    color: #F9FAF8;
    font-size: 48px;
}

.hero-main-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.top-quater-bottom-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #F9FAF8;
}

.top-quater-image{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 150px;
    align-items: center;
}

.second-quater {
    display:flex;
    flex-direction: column;
}

.inforamtion {
    display:flex;
    margin: 5px;
    color: #1F2937;
    font-size: 36px;
    justify-content: center;
}

.product-list {
    display:flex;
    justify-content: center;
}

.product-combo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture {
    border-radius: 25px;
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
}

.product {
    margin: 20px;
    justify-items: center;

}

.third-quater {
    background-color: #E5E7EB;

}

.quote {
    display:flex;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.odin {
    display: flex;
    justify-content: flex-end;
}

.last-quater-container {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-items: center;
    justify-content: center;
}

.last-quater-left{
    display:flex;
    flex-direction: column;
    margin: 5px;
}

.hero-secondary {
    size: 18px;
    color: red;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.signup {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 4px #F9FAF8;
}

.zero {
    /*place holder highlight*/
    background-color: pink;
    color: red;

}